@font-face {
  font-family: 'AeroExtended';
  src: url('..//fonts/aeroextended.eot');
  src: url('..//fonts/aeroextended.ttf')  format('truetype');
}
@font-face {
  font-family: 'AeroExtendedItalic';
  src: url('..//fonts/aeroextendeditalic.eot');
  src: url('..//fonts/aeroextendeditalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'WallStreetExtended';
  src: url('..//fonts/wallstreetextended.eot');
  src: url('..//fonts/wallstreetextended.ttf')  format('truetype');
}
@font-face {
  font-family: 'GothamThin';
  src: url('..//fonts/gothamthin.eot');
  src: url('..//fonts/gothamthin.ttf')  format('truetype');
}

/* fonts */
h1 {
  font-family: 'AeroExtendedItalic', sans-serif;
  font-size: 22pt;
}

h2 {
  font-family: 'WallStreetExtended', sans-serif;
  font-size: 18pt;
  letter-spacing: 2px;
}

.navigation {
  font-family: 'AeroExtended', sans-serif;
}

.intro {
  font-family: 'WallStreetExtended', sans-serif;
  letter-spacing: 1px;
  font-size: 10pt;
}

.content {
  font-family: "GothamThin", sans-serif;
  letter-spacing: 1px;
  font-size: 12pt;
}

.detail_info_small {
  font-family: "GothamThin", sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
}

.detail_info {
  font-family: "GothamThin", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
}

.detail_info_large {
  font-family: "GothamThin", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}

.input_field {
  font-family: "GothamThin", sans-serif;
  letter-spacing: 1px;
  font-size: 40px;
}

.input_text {
  font-family: "GothamThin", sans-serif;
  letter-spacing: 1px;
  font-size: 22px;
}

.tagline {
  font-family: 'AeroExtendedItalic', sans-serif;
  font-size: 14pt;
}

.footer_item {
  font-family: "Arial", sans-serif;
  font-size: 10px;
}

html,
body {
  height: 100%;
  background-color: #05122b;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  text-decoration: none;
  color: #fff;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

#background { 
  background: url(../assets/background.jpg) no-repeat fixed; 
  height: auto;  
  float: left;
  width: 100%;
  background-color: #05122b;
}

#home { 
    background: transparent url(../assets/section_background_01.png) no-repeat ; 
    padding: 370px 0;
    color: #fff;
}

#home > div.container {
  width: 800px;
  position: absolute;
  left: 370px;
  top: 100px;
}

#home > div.container p {
  line-height: 0.5;
}

#home > div.container .intro {
  width: 570px;
  margin-bottom: 40px;
  line-height: 1.25;
}

#home a .link:hover {
  opacity: 0.5;
}

#lynx { 
    float: left;
    margin-top: 100px;
    position: relative; 
    color: #fff;
    width: 1200px;
    height: 700px;
}

#lynx a {
  text-decoration: none;
  color: #fff
}

#lynx > div.container p {
  width: 650px;
}

#stargazer { 
    background: url(../assets/section_background_03.png) no-repeat bottom; 
    height: 630px;
    width: 1200px; 
    float: left;
    position: relative; 
    color: #fff;
    bottom: 0;
}

#stargazer > div.container {
  width: 800px;
}

#stargazer > div.container p {
  width: 800px;
}

#stargazer > div.container > img {
  width: 120px;
  margin-top: 80px;
  margin-bottom: 40px;
}

#stargazer .input_text {
  text-align: left;
}

#stargazer.container.content {
  left:0;
  text-align: left;
}

.input_field {
  color: #aaa;
  width: 700px;
  border: 0px solid #aaa;
  border-bottom: 1px solid #aaa;
  background-color: transparent;
}

input {
  position: relative;
  display: inline-block;
}

#thank_you_text {
  position: absolute;
  top: 0px;
  opacity: 0;
}

#submit{
  background:url(../assets/arrow_right.png);
  background-repeat: no-repeat;
  border: 0px solid #aaa;
  border-bottom: 1px solid #aaa;
  top: 0px;
  width: 60px;
  height: 60px;
  display: block;
  position: relative;
  float: right;
}

#form_elements {
  height: 60px;
  width: 760px;
}

#footer {
  background-color: #000;
  color: #999;
  width: 100%;
  text-align: left;
  padding-top: 25px;
}

.footer_item span {
  color: #999;
  width: auto;
  padding-right: 40px;
  float: left;
}

.footer_item span a {
  text-decoration: none;
  color: #999;
}

.footer_paragraph {
  float: left;
  padding-top: 30px;
  width: 800px;
}
/*.footer_item > span a {
  color: #999;
}
*/
.navbar {
  background-color: transparent;
  background: transparent;
  width: auto;
  position: absolute;
  left: 400px;
  top: 20px;
}

.navbar .nav > li > a {
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  float: left;
  display: inline-block;
  position: relative;
  width: auto;
  color: #fff;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent;
  color: #ddd;
}

.video-container { 
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 70%;
  margin-top: 50px;
 }

.video-container iframe { 
  position: absolute; 
  top: 0; 
  left: 0;
  width: 100%; 
  height: 68%;
}


