@font-face {
  font-family: 'AeroExtended';
  src: url('..//fonts/aeroextended.eot');
  src: url('..//fonts/aeroextended.ttf')  format('truetype');
}
@font-face {
  font-family: 'AeroExtendedItalic';
  src: url('..//fonts/aeroextendeditalic.eot');
  src: url('..//fonts/aeroextendeditalic.ttf')  format('truetype');
}
@font-face {
  font-family: 'WallStreetExtended';
  src: url('..//fonts/wallstreetextended.eot');
  src: url('..//fonts/wallstreetextended.ttf')  format('truetype');
}
@font-face {
  font-family: 'GothamThin';
  src: url('..//fonts/gothamthin.eot');
  src: url('..//fonts/gothamthin.ttf')  format('truetype');
}

a,
a:focus,
a:hover {
  color: #000;
}

html,
body {
  height: 100%;
  background-color: #05122b;
  /*-webkit-font-smoothing: antialiased;*/
  font-family: 'AeroExtended', sans-serif;
}

body {
  color: #05122b;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#background { 
    background: url(../assets/background.jpg) no-repeat fixed; 
    height: auto;  
    float: left;
}

#home { 
    background: transparent url(../assets/section_background_01.png) no-repeat ; 
    width: 100%; 
    padding: 370px 0;
    color: #fff;
}

#home > div.container {
  width: 700px;
  position: absolute;
  left: 400px;
  top: 400px;
}

#home > div.container h2 {
  font-family: 'AeroExtendedItalic', sans-serif;
}

#home > div.container h3 {
  font-family: 'WallStreetExtended', sans-serif;
  width: 610px;
  letter-spacing: 1px;
  font-size: 12pt;
  margin-left: auto;
  margin-right: auto;
}

#lynx { 
    float: left;
    margin-top: 100px;
    /*margin: 0 auto; */
    position: relative; 
    color: #fff;
}

#lynx > div.container h2 {
  font-family: 'WallStreetExtended', sans-serif;
  font-size: 15pt;
  letter-spacing: 1px;
}

#lynx > div.container p {
  width: 480px;
  font-family: "GothamThin", sans-serif;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
}

#stargazer { 
    background: url(../assets/section_background_03.png) no-repeat bottom; 
    height: 600px;
    width: 1200px; 
    float: left;
    position: relative; 
    color: #fff;
    bottom: 0;
}

#stargazer > div.container {
  font-family: "GothamThin", sans-serif;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  text-align: left;
}

#stargazer > div.container p {
  margin-top: 50px;
  width: 700px;
  font-family: "GothamThin", sans-serif;
  letter-spacing: 1px;
  font-size: 15pt;
  margin-left: auto;
  margin-right: auto;
}

.input_field {
  color: #aaa;
  width: 800px;
  font-size: 40px;
  border: 0px solid #aaa;
  border-bottom: 1px solid #aaa;
  background-color: transparent;
}

#footer {
  font-family: "GothamThin", sans-serif;
  font-size: 8pt;
  background-color: #000;
  color: #999;
  width: 1200px;
  text-align: left;
}

#footer div.container a {
  font-family: "GothamThin", sans-serif;
  font-size: 8pt;
  /*background-color: #000;*/
  color: #999;
  width: 150px;
  position: relative;
  float: left;
  display: inline-block;
  /*text-align: left;*/
  /*display: block;*/
}

.navbar {
  background-color: transparent;
  background: transparent;
  width: auto;
  position: relative;
  left: 230px;
  top: -350px;
}

.navbar .nav > li > a {
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  float: left;
  display: inline-block;
  position: relative;
  width: auto;
  color: #fff;
}

.video-container { 
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 70%;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 50px;
 }

.video-container iframe { 
  position: absolute; 
  top: 0; 
  left: 0;
  width: 100%; 
  height: 68%;
}


